{% assign products = collection.products %}
{% assign prodctTitles = products | map: "title" | reverse  %}

{% comment %} {% for prodctTitle in prodctTitles %}
    <p>{{prodctTitle}}</p>
{%  endfor %} {% endcomment %}

<p>{{ prodctTitles | join: ' - ' }}</p>

<p>{{ prodctTitles | first }}</p> {% comment %} productTitles.first {% endcomment %}
<p>{{ prodctTitles | last }}</p>  {% comment %} productTitles.last {% endcomment %}
<p>{{ prodctTitles | size }}</p>  {% comment %} productTitles.size {% endcomment %}

{% if prodctTitles.size > 5 %}
    <p>test</p>
{% endif %}




{% for product in products %}
    <p>{{product.title}} - {{ product.price | money }}</p>
{%  endfor %}

{% assign priceSortedItems = products | sort: 'price' %}

{% for product in priceSortedItems %}
    <p>{{product.title}} - {{ product.price | money }}</p>
{%  endfor %}

{% assign allPrices = products | map: 'price' | sort %}

{% for price in allPrices %}
    <p>{{ price | money }}</p>
{%  endfor %}

{% assign sumOfPrices = allPrices | sum %}
<p>Total of all items: {{ sumOfPrices | money }}</p>

{% assign snowboard = products | where: 'title', 'The Complete Snowboard' | first %}
<p>{{ snowboard.title }} - {{ snowboard.price | money }}</p>

{% assign tags = '' %}
{% for product in products %}
    {% for tag in product.tags %}
        {% assign tags = tags | append: tag | append: '  ' %}
    {% endfor %}
{% endfor %}

<p>{{ tags |split: " " | uniq | join: ' '}}</p>