{% assign myString = 'HELLO world' %}
{% assign myOtherString = ' some EXTRA text' %}
<p>{{ myString | upcase }}</p>
<p>{{ myString | downcase }}</p>
<p>{{ myString | capitalize }}</p>
<p>{{ myString | append: ' some extra text' }}</p>
<p>{{ myString | append: myOtherString | downcase }}</p>
<p>{{ myString | downcase | append: myOtherString }}</p>

{% assign myStringWithWhitespace = 'hello this has whitespace    ' %}
<p>{{ myStringWithWhitespace | append: '!' }}</p>
<p>{{ myStringWithWhitespace | strip | append: '!' }}</p>

{% assign myHtmlText = "<p style='color: red'>Hello some extra text some extra text</p>" %}
{{ myHtmlText | strip_html}}

{% assign myLongString = 'This is some very long text that will be trimmed' %}
<p>{{ myLongString | truncate: 20, '?' }}</p>
<p>{{ myLongString | truncatewords:4 }}</p>

{{ myHtmlText | strip_html | truncate: 35 }}

{% assign myMultiLineText = "
    This is the first line
    This is the second line
    This is the third line
    "
    | newline_to_br
%}

<p>{{ myMultiLineText }}</p>

{% assign myText = "Hello some extra text some extra text" %}
<p>{{ myText | replace: "text", "string" }}</p>
<p>{{ myText | replace_first: "text", "string" }}</p>
<p>{{ myText | replace_last: "text", "string" }}</p>

{% assign myNumbers = '1,2,3,4' | split: ',' %}

{% for number in myNumbers %}
    <p>{{ number }}</p>
{% endfor %}

{% assign myLanguages = 'html|orange,css|blue,javascript|yellow' | split: ',' %}

{% for language in myLanguages %}
    {% assign languageName = language | split: '|' | first %}
    {% assign languageColor = language | split: '|' | last %}
    <p style="color: {{ languageColor }}">{{ languageName }}</p>
{% endfor %}